.img-fluid{
       width: 100%;
       height: auto;
}

p{
    margin: 10px;
    color:azure;
    font-size: 18px;
}

body{
    background: darkseagreen;
}

h1 {
    text-align: center;
    font-style: italic;
    color: blanchedalmond;
    margin-bottom: 50px;
    margin-top: 50px;
}

.img {
    width: 19%;
    height: auto;
    
}

footer{
    margin-block-end: auto;
    text-align: center;
    font-size: 18px;
    color:blanchedalmond;
}

.card-text {
     color: black;
}

h3{
    font-size: 40px;
    text-align: center;
    color: blanchedalmond;
    margin-top: auto;
}

.card {
    margin: 15px;
}
